* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

@font-face {
    src: url("font/Biryani.ttf");
    font-family: Biryani;
}

@font-face {
    src: url("font/Biryani-Bold.ttf");
    font-family: BiryaniBold;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: BiryaniBold, serif;
}

h3 {
    font-weight: lighter;
}

.map-title > h2 {
    color: #10515a;
    font-family: BiryaniBold, sans-serif;
}

.header {
    height: 10vh;
}

.logo {
    padding: 10px 0 20px 20px;
}

.logo-image {
    height: 80px;
}

#content {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "Map Map Sidebar";

    box-sizing: border-box;
    padding-bottom: 10px;
}

.map-container {
    grid-area: Map;
    padding: 20px;
    position: relative;
}

.sidebar-container {
    grid-area: Sidebar;
    padding: 20px 20px 20px 0;
    overflow-y: hidden;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 7px 0 rgba(170,170,170,1);
}

.map-title {
    position: absolute;
    right: 0; top: 0;
    padding: 38px;
    font-family: Biryani, sans-serif;
    text-transform: uppercase;
}

.info-window {
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "IW-Title IW-Title"
                         "IW-Messages IW-Messages";

    overflow-y: scroll;
    max-height: 250px;
    max-width: 550px;
    min-width: 300px;
}

.iw-title {
    grid-area: IW-Title;
    margin-bottom: 30px;
}

.trash-icon {
    width: 80%;
}

.iw-messages {
    grid-area: IW-Messages;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #e9e9e9;
}

td {
    padding: 5px;
    margin: 0;
    border: none;
}

#sidebar {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #10515a;
    box-shadow: 0 4px 7px 0 rgba(170,170,170,1);

    box-sizing: border-box;
    padding: 20px;

    font-family: Biryani, sans-serif;
    color: white;
    text-transform: uppercase;

    overflow-y: scroll;
}

#sidebar > div {
    margin-bottom: 50px;
}

.district-image {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
}

.social-media {
    height: 100%;
}

.message {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "Photo Message"
                         "Photo Location";

    background-color: white;
    color: black;
    text-transform: none;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
}

.message-photo-container {
    grid-area: Photo;
    padding-right: 20px;

    box-sizing: border-box;
}

.message-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}

.message-text {
    grid-area: Message;
}

.message-location {
    grid-area: Location;
    padding-top: 10px;
    color: #10515a;
    font-family: BiryaniBold, sans-serif;
}

.message-location > img {
    float: left;
    margin-right: 5px;
}

.controls {
    position: absolute;
    top: 30px; left: 30px;
}

.controls > button {
    width: 55px;
    height: 55px;
    background-color: #10515a;
    outline: none;
    cursor: pointer;
    display: block;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
}

.controls > button > img {
    margin: auto;
    width: 60%;
    height: 60%;
}

.controls > button.active {
    border: 4px solid #76DE48;
    box-sizing: border-box;
}

/**************
    MOBILE
**************/
@media only screen and (max-width: 600px) {
    #content {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
                "Map"
                "Sidebar"
    }

    .map-container {
        height: 80vh;
    }
}
